.hsq_con{
    padding:15px;
    background:#248fd3;
    color:#fff;
    line-height:24px;
    margin:15px auto;
}
.m-t{
    margin-top:15px;
}
.hsq_box{
    width:90%;
    background:#ffffff;
    border:1px solid #eee;
    padding:10px;
    margin:10px 0;
}
.text-center{
    text-align:center;
}
.hsh_con .text2{
    font-size:16px !important;
    color:#000 !important;
    line-height: 24px !important;
}
.hsq_box .t{
    height:120px;
    overflow:hidden;
}
.hsq_box .t img{
    width:100%;
    margin-top:-10px;
}