h3,h4{margin:0;padding:0;}
.join_title{
    height:30px;
    line-height:30px;
    padding:0 15px;
    background-image: -moz-linear-gradient(top, #fff, #eee); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType='0'); /* IE*/
    border-bottom:1px solid #dcdcdc;
    color:#333333;
    font-size:18px;
}
.join_content{
    border:1px solid #eee;
    background:#fff;
    margin:15px auto;
}
.join_con{
    padding:15px;
}
.hgw_content h4{
    color:#0082c0;
    font-size:16px;
    font-weight:bold;
    font-family: "Microsoft YaHei",Arial;
}
.hgw_content p{
    font-size:14px;
    color:#666;
    line-height: 24px;
}