@charset "GB2312";
* {
	font-family: simsun, arial;
}

#header {
	position: fixed;
	z-index: 9999;
	width:100%;
	height:70px;
	background:#fff;
	border-bottom: 2px solid #dbdcde;
	border-top: 1px solid #dbdcde;
}

#header ul,#header li,#header ol {
	list-style: none;
	padding: 0;
	margin: 0;
	float:left;
}

#header a.tabactive {
	color:#FFF!important;
	border-bottom:2px solid #eb322d!important;
	background:#f0615b;
	
}

#header .logo {
	width:128px;
	height:42px;
	float:left;
	margin-top:17px;
	padding-left:2px;
}

#header .logo img{
	border: 0px !important;
}

#header .nav {
	width:auto;
	height:70px;
	float:right;
}

#header .a1:link, #header .a1:visited {
	text-decoration:none;
	color:#333333;
	padding:0px 20px;
	height:72px;
	line-height:72px;
	display:block;
	font-size:14px;
}

#header .a1:hover, #header .a1:focus {
	text-decoration:none;
	color:#2755a9;
	border-bottom:2px solid #eb322d;
}

#header .w_wrap2{
	width:960px;
}

#header .w_wrap2::after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}

#header .Center{
	margin:0 auto;
}

#header .h_min{
	min-height:1px;
}

/*#header .vline {
	height:18px;
	width: 0;
	margin:11px 0;
	border-right:1px solid #D9D9D9;
}*/

#header * {
	box-sizing: border-box;
}

#content {
	padding-top: 70px;
}

#footer * {
	box-sizing: border-box;
}

#footer .ftsection {
	float: left;
	text-align: left;
	margin: 40px 15px 0 15px;
}

#footer a {
	text-decoration: none;
	color: #A1B4DC;
	line-height: 20px;
	font-size: 14px;
}

#footer a:hover {
	text-decoration: none;
	color: #fff;
}


#footer .title {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 30px;
	color: #ffffff;
}

#footer .section {
	text-align: left;
	float: left;
	margin: 40px 20px;
}

#footer .qcode {
	width: 176px;
	height: 40px;
	line-height: 40px;
	background-image: url('../img/new/erweima.png');
	cursor: pointer;
}

#footer .qcode:hover {
	background-image: url('../img/new/erweima_hover.png');
}

#footer .onlinechat {
	width: 176px;
	height: 40px;
	line-height: 40px;
	margin-top: 18px;
	background-image: url('../img/new/chat.png');
	cursor: pointer;
}

#footer .onlinechat:hover {
	background-image: url('../img/new/chat_hover.png');
}

#copyright {
	width:100%;
	font-size:12px;
	text-align:center;
	margin:5px 0;
}

.exp_app {
	width: 230px;
	height: 40px;
	line-height: 37px;
	border: 2px solid #0c71c0;
	border-radius: 5px;
	background-color: #fff;
	color: #0c71c0;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
	-webkit-transition-property: background-color, color;
	-o-transition-property: background-color, color;
	transition-property: background-color, color;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.exp_app:hover {
	background-color: #0c71c0;
	color: #fff;
}

.wcode{
display: none; 
position: absolute;
margin-top: -174px;
border: 1px solid #ccc;
}