@charset "utf-8";
.apply {
    width: 308px;
    height: 56px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 64px;
    margin-left: -154px;
    cursor: pointer;
    text-align: center;
    line-height: 56px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    transition:opacity 1s ease-out 1.2s, top 1s ease-out 1.2s, color 0.3s, background-color 0.3s;
    opacity: 0;
    border-bottom: 2px solid #2d9fee;
    background:#51aded;

}
.apply a{
    text-decoration:none;
    color:#fff;
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
}
.active .apply {
    opacity: 1;
    top: 50%;
}
.active .reApply {
    -webkit-animation:moveUp 1s ease-out .2s ;
    -moz-animation:moveUp 1s ease-out .2s ;
    -ms-animation:moveUp 1s ease-out .2s ;
    -o-animation:moveUp 1s ease-out .2s ;
    animation:moveUp 1s ease-out .2s ;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}
@-webkit-keyframes moveUp{
    0%{
        opacity:0;
        filter:alpha(opacity=0);
        top:100%;
    }
    20%{
        opacity:.2;
        filter:alpha(opacity=20);
        top:90%;
    }
    40%{
        opacity:.4;
        filter:alpha(opacity=40);
        top:80%;
    }
    60%{
        opacity:.6;
        filter:alpha(opacity=60);
        top:70%;
    }
    80%{
        opacity:.8;
        filter:alpha(opacity=80);
        top:60%;
    }
    100%{
        opacity:1;
        filter:alpha(opacity=100);
        top:50%;
    }
}
@-moz-keyframes moveUp{
    0%{
        opacity:0;
        filter:alpha(opacity=0);
        top:100%;
    }
    20%{
        opacity:.2;
        filter:alpha(opacity=20);
        top:90%;
    }
    40%{
        opacity:.4;
        filter:alpha(opacity=40);
        top:80%;
    }
    60%{
        opacity:.6;
        filter:alpha(opacity=60);
        top:70%;
    }
    80%{
        opacity:.8;
        filter:alpha(opacity=80);
        top:60%;
    }
    100%{
        opacity:1;
        filter:alpha(opacity=100);
        top:50%;
    }
}
@-ms-keyframes moveUp{
    0%{
        opacity:0;
        filter:alpha(opacity=0);
        top:100%;
    }
    20%{
        opacity:.2;
        filter:alpha(opacity=20);
        top:90%;
    }
    40%{
        opacity:.4;
        filter:alpha(opacity=40);
        top:80%;
    }
    60%{
        opacity:.6;
        filter:alpha(opacity=60);
        top:70%;
    }
    80%{
        opacity:.8;
        filter:alpha(opacity=80);
        top:60%;
    }
    100%{
        opacity:1;
        filter:alpha(opacity=100);
        top:50%;
    }
}
@-o-keyframes moveUp{
    0%{
        opacity:0;
        filter:alpha(opacity=0);
        top:100%;
    }
    20%{
        opacity:.2;
        filter:alpha(opacity=20);
        top:90%;
    }
    40%{
        opacity:.4;
        filter:alpha(opacity=40);
        top:80%;
    }
    60%{
        opacity:.6;
        filter:alpha(opacity=60);
        top:70%;
    }
    80%{
        opacity:.8;
        filter:alpha(opacity=80);
        top:60%;
    }
    100%{
        opacity:1;
        filter:alpha(opacity=100);
        top:50%;
    }
}
@keyframes moveUp{
    0%{
        opacity:0;
        filter:alpha(opacity=0);
        top:100%;
    }
    20%{
        opacity:.2;
        filter:alpha(opacity=20);
        top:90%;
    }
    40%{
        opacity:.4;
        filter:alpha(opacity=40);
        top:80%;
    }
    60%{
        opacity:.6;
        filter:alpha(opacity=60);
        top:70%;
    }
    80%{
        opacity:.8;
        filter:alpha(opacity=80);
        top:60%;
    }
    100%{
        opacity:1;
        filter:alpha(opacity=100);
        top:50%;
    }
}
.apply:hover, .section3 .applybtn:hover,#section5 .applybtn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #2d9fee;
    width:304px;
    height:54px;
    line-height: 54px;
}


.applybtn{
    display: inline-block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 2px solid #2fbb20;
    border-radius: 5px;
    margin-top: 120px;
    opacity: 0;
    cursor: pointer;
    transition:opacity 1s ease-out 1.2s, margin-top 1s ease-out 1.2s, color 0.3s, background-color 0.3s;
}

.section.active .applybtn{
    opacity: 1;
    margin-top: 30px;
}

.applybtn:hover {
    background-color: transparent;
    color: #fff;
}
.basecontainer{
    width: 100%;
    height:100%;
    background:url(/images/bg_5.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -mos-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.section.active  .imgwraper{
    position: absolute;
    overflow: hidden;
    -webkit-transition: all .6s .4s ease-out;
    -o-transition: all .6s .4s ease-out;
    transition: all .6s .4s ease-out;
}
.section h3{
    margin: 0;
    padding: 0px 0px;
    font-size: 28px;
    margin-bottom: 10px;
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

    transform: scale(0,0);
}
.section p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-bottom: 20px;
    color: #999;
}


.roteitem p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-bottom: 30px;
    color: #999;

}
.textsplit{
    height: 1px;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}


.section1 .intro1{
    height:100%;width:100%;
    position: relative;
    background-image: url(/images/bg_1.jpg);
    background-position: top center;
    -webkit-background-size: cover;
    -mos-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.section1 .pic1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -400px;
    transition: all 1s;
    transform: scale(0.5, 0.5);
    opacity: 0;
}
.section1.active  .pic1 {
    transition-delay: 0.7s;
    transform: scale(1, 1);
    opacity: 1;
}


#section5 .iconwarp {
    width: 635px;
    margin: 20px auto 0;
}

#section5 .iconitem {
    float: left;
    width: 151px;
    height: 151px;
    text-align: center;
    margin: 30px;
    position: relative;
    top: -300px;
    opacity: 0;
    -webkit-transition-property: opacity,top;
    -o-transition-property: opacity,top;
    transition-property: opacity,top;
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    border-radius:75px;
}

#section5.active .iconitem {
    top: 0;
    opacity: 1;
}



#section5 .iconitem img {
    margin-top: 20px;
}
#section5 .iconitem:hover{
    background-color:#fff
}

#section5 .s7content {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -480px;
    width:960px;
}

#section5 .iconitem1{
    background:url(/images/sec5Icon1.png) no-repeat;
    -webkit-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
#section5 .iconitem2 {
    background:url(/images/sec5Icon2.png) no-repeat;
    -webkit-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

#section5 .iconitem3 {
    background:url(/images/sec5Icon3.png) no-repeat;
    -webkit-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s;
}

#section5 .iconitem4 {
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}

#footer{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    background:url(/images/footer.jpg) no-repeat center;
    height:113px;
}

.section {
    background-position: center !important;
}
/* 0517 添加 */
.section2 .intro1{
    background:url(/images/bg_2.jpg) no-repeat top center;
    width:100%;
    height:100%;
    -webkit-background-size: cover;
    -mos-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
.section3 .intro1{
    background:url(/images/bg_3.jpg) no-repeat top center;
    width:100%;
    height:100%;
    -webkit-background-size: cover;
    -mos-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}


.section2 .apply,.section3 .apply,.section4 .apply{
    margin-top:-26px;
}
.section2 .apply{
    background:#75c06f;
    border-color:#34902e;
}
.section2 .apply:hover{
    background-color: transparent;
}
.section3 .apply{
    background:#f60;
    border-color:#b24700;
}
.section3 .apply:hover{
    background-color: transparent;
}
/* section4 */
.section4 .intro1{
    background:url(/images/bg_4.jpg) no-repeat top center;
    width:100%;
    height:100%;
    -webkit-background-size: cover;
    -mos-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
.section4 .apply{
    background:#ed969a;
    border-color:#cd474d;
}
.section4 .apply:hover{
    background-color: transparent;
}

.iconBox{
    width:912px;
    height:190px;
    position:absolute;
    top:50%;
    left:50%;
    margin:58px 0 0 -456px;
}
.iconBox .iconitem{
    width:190px;
    height:190px;
    float:left;
    margin:0 19px;
    position:relative;
    top:300px;
    -webkit-transition-property: opacity,top;
    -o-transition-property: opacity,top;
    transition-property: opacity,top;
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    opacity:0;
    filter:alpha(opacity=0);
    border-radius:100px;
}
.active .iconBox .iconitem{
    opacity:100;
    filter:alpha(opacity=100);
    top:0;
}
.section2 .iconBox .iconitem1{
    background:url(/images/sec2Icon1.png) no-repeat;
}
.section2 .iconBox .iconitem2{
    background:url(/images/sec2Icon2.png) no-repeat;
}
.section2 .iconBox .iconitem3{
    background:url(/images/sec2Icon3.png) no-repeat;
}
.section2 .iconBox .iconitem4{
    background:url(/images/sec2Icon4.png) no-repeat;
}

.section3 .iconBox .iconitem1{
    background:url(/images/sec3Icon1.png) no-repeat;
}
.section3 .iconBox .iconitem2{
    background:url(/images/sec3Icon2.png) no-repeat;
}
.section3 .iconBox .iconitem3{
    background:url(/images/sec3Icon3.png) no-repeat;
}
.section3 .iconBox .iconitem4{
    background:url(/images/sec3Icon4.png) no-repeat;
}

.section4 .iconBox .iconitem1{
    background:url(/images/sec4Icon1.png) no-repeat;
}
.section4 .iconBox .iconitem2{
    background:url(/images/sec4Icon2.png) no-repeat;
}
.section4 .iconBox .iconitem3{
    background:url(/images/sec4Icon3.png) no-repeat;
}
.section4 .iconBox .iconitem4{
    background:url(/images/sec4Icon4.png) no-repeat;
}


.iconBox .iconitem1{
    -webkit-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
.iconBox .iconitem2{
    -webkit-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.iconBox .iconitem3{
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.iconBox .iconitem4{
    -webkit-transition-delay: 1.7s;
    -o-transition-delay: 1.7s;
    transition-delay: 1.7s;
}
.iconBox .iconitem p{
    display:table-cell;
    width:150px;
    height:190px;
    padding:0 20px;
    vertical-align:middle;
    color:#fff;
    font-size:12px;
    line-height:24px;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
}
.section2 .iconBox .iconitem:hover{
    background:#065400;
}
.section3 .iconBox .iconitem:hover{
    background:#EB6100;
}
.section4 .iconBox .iconitem:hover{
    background:#B2003E;
}
.iconBox .iconitem:hover p{
    opacity:1;
    filter:alpha(opacity=100);
}
/* footer */
.w960{
    width:960px;
    margin:0 auto;
    height:113px;
}
#section5 p.links{
    padding-left:34px;
    height:auto;
    opacity:1;
    filter:alpha(opacity=100);
    text-align:left;
    margin-top:26px;
    margin-bottom:12px;
}
#section5 p.links a{
    padding:0 10px;
    color:#a0ecff;
    font-size:12px;
    font-weight:700;
}
#section5 p.address{
    opacity:1;
    filter:alpha(opacity=100);
    text-align:left;
    color:#a0ecff;
    font-size:12px;
    padding-left:44px;
}
#footer p.tels{
    opacity:1;
    filter:alpha(opacity=100);
    text-align:left;
    color:#a0ecff;
    font-size:12px;
    padding-left:44px;
}
#footer p.address{
    margin-bottom:12px;
    line-height: 24px;

}
/* 0519添加 */
.titBoxlj1,.mainTit{
    position:absolute;
    left:50%;
    top:50%;
}
.section1 .titBoxlj1{
    width:509px;
    height:79px;
    margin:-600px 0 0 -255px;
    -webkit-transition:all .9s linear .7s;
    -moz-transition:all .9s linear .7s;
    -ms-transition:all .9s linear .7s;
    -o-transition:all .9s linear .71s;
    transition:all .9s linear .7s;
    opacity:0;
    filter:alpha(opacity = 0);
}
.section1 .mainTit{
    width:509px;
    height:122px;
    margin:-300px 0 0 -255px;
    -webkit-transition:all .6s linear .5s;
    -moz-transition:all .6s linear .5s;
    -ms-transition:all .6s linear .5s;
    -o-transition:all .6s linear .5s;
    transition:all .6s linear .5ss;
    opacity:0;
    filter:alpha(opacity = 0);
}
.section2 .titBoxlj1{
    width:573px;
    height:79px;
    margin:-400px 0 0 -286px;
    -webkit-transition:all .9s linear .7s;
    -moz-transition:all .9s linear .7s;
    -ms-transition:all .9s linear .7s;
    -o-transition:all .9s linear .71s;
    transition:all .9s linear .7s;
    opacity:0;
    filter:alpha(opacity = 0);
    z-index:-1;
}
.section2 .mainTit{
    width:577px;
    height:61px;
    margin:-300px 0 0 -255px;
    -webkit-transition:all .6s linear .5s;
    -moz-transition:all .6s linear .5s;
    -ms-transition:all .6s linear .5s;
    -o-transition:all .6s linear .5s;
    transition:all .6s linear .5s;
    opacity:0;
    filter:alpha(opacity = 0);
}

.section3 .titBoxlj1{
    width:573px;
    height:79px;
    margin:-400px 0 0 -286px;
    -webkit-transition:all .9s linear .7s;
    -moz-transition:all .9s linear .7s;
    -ms-transition:all .9s linear .7s;
    -o-transition:all .9s linear .71s;
    transition:all .9s linear .7s;
    opacity:0;
    filter:alpha(opacity = 0);
    z-index:-1;
}
.section3 .mainTit{
    width:575px;
    height:60px;
    margin:-300px 0 0 -255px;
    -webkit-transition:all .6s linear .5s;
    -moz-transition:all .6s linear .5s;
    -ms-transition:all .6s linear .5s;
    -o-transition:all .6s linear .5s;
    transition:all .6s linear .5s;
    opacity:0;
    filter:alpha(opacity = 0);
}
.section4 .titBoxlj1{
    width:664px;
    height:79px;
    margin:-400px 0 0 -332px;
    -webkit-transition:all .9s linear .7s;
    -moz-transition:all .9s linear .7s;
    -ms-transition:all .9s linear .7s;
    -o-transition:all .9s linear .71s;
    transition:all .9s linear .7s;
    opacity:0;
    z-index:-1;
    filter:alpha(opacity = 0);
}
.section4 .mainTit{
    width:669px;
    height:61px;
    margin:-300px 0 0 -335px;
    -webkit-transition:all .6s linear .5s;
    -moz-transition:all .6s linear .5s;
    -ms-transition:all .6s linear .5s;
    -o-transition:all .6s linear .5s;
    transition:all .6s linear .5s;
    opacity:0;
    filter:alpha(opacity = 0);
}
.s7content .titBoxlj1{
    width:462px;
    height:79px;
    margin:-400px 0 0 -231px;
    -webkit-transition:all .9s linear 1.2s;
    -moz-transition:all .9s linear 1.2s;
    -ms-transition:all .9s linear 1.2s;
    -o-transition:all .9s linear 1.2s;
    transition:all .9s linear 1.2s;
    opacity:0;
    filter:alpha(opacity = 0);
}
@-moz-document url-prefix(){.s7content .titBoxlj1{margin:-600px 0 0 -231px;}}
.s7content .mainTit{
    width:601px;
    height:79px;
    margin:300px 0 0 -300px;
    -webkit-transition:all .6s linear 1.5s;
    -moz-transition:all .6s linear 1.5s;
    -ms-transition:all .6s linear 1.5s;
    -o-transition:all .6s linear 1.5s;
    transition:all .6s linear 1.5s;
    opacity:0;
    filter:alpha(opacity = 0);
}

.active .reWise{
    -webkit-animation:moveDown .6s ease-out .2s ;
    -moz-animation:moveDown .6s ease-out .2s ;
    -ms-animation:moveDown .6s ease-out .2s ;
    -o-animation:moveDown .6s ease-out .2s ;
    animation:moveDown .6s ease-out .2s ;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}
.active .intro2 .titBoxlj1{
    margin-top:-180px;
    opacity:1;
    z-index:1;
    filter:alpha(opacity = 100);
}
@-webkit-keyframes moveDown {
    0%{
        margin-top:-600px;
        opacity:0;
        filter:alpha(opacity =0);
    }
    20%{
        margin-top:-516px;
        opacity:.2;
        filter:alpha(opacity =20);
    }
    40%{
        margin-top:-432px;
        opacity:.4;
        filter:alpha(opacity =40);
    }
    60%{
        margin-top:-348px;
        opacity:.6;
        filter:alpha(opacity =60);
    }
    80%{
        margin-top:-264px;
        opacity:.8;
        filter:alpha(opacity =80);
    }
    100%{
        margin-top:-180px;
        opacity:1;
        filter:alpha(opacity =100);
        z-index:1;
    }
}

@-moz-keyframes moveDown {
    0%{
        margin-top:-600px;
        opacity:0;
        filter:alpha(opacity =0);
    }
    20%{
        margin-top:-516px;
        opacity:.2;
        filter:alpha(opacity =20);
    }
    40%{
        margin-top:-432px;
        opacity:.4;
        filter:alpha(opacity =40);
    }
    60%{
        margin-top:-348px;
        opacity:.6;
        filter:alpha(opacity =60);
    }
    80%{
        margin-top:-264px;
        opacity:.8;
        filter:alpha(opacity =80);
    }
    100%{
        margin-top:-180px;
        opacity:1;
        filter:alpha(opacity =100);
        z-index:1;
    }
}
@-ms-keyframes moveDown {
    0%{
        margin-top:-600px;
        opacity:0;
        filter:alpha(opacity =0);
    }
    20%{
        margin-top:-516px;
        opacity:.2;
        filter:alpha(opacity =20);
    }
    40%{
        margin-top:-432px;
        opacity:.4;
        filter:alpha(opacity =40);
    }
    60%{
        margin-top:-348px;
        opacity:.6;
        filter:alpha(opacity =60);
    }
    80%{
        margin-top:-264px;
        opacity:.8;
        filter:alpha(opacity =80);
    }
    100%{
        margin-top:-180px;
        opacity:1;
        filter:alpha(opacity =100);
        z-index:1;
    }
}
@-o-keyframes moveDown {
    0%{
        margin-top:-600px;
        opacity:0;
        filter:alpha(opacity =0);
    }
    20%{
        margin-top:-516px;
        opacity:.2;
        filter:alpha(opacity =20);
    }
    40%{
        margin-top:-432px;
        opacity:.4;
        filter:alpha(opacity =40);
    }
    60%{
        margin-top:-348px;
        opacity:.6;
        filter:alpha(opacity =60);
    }
    80%{
        margin-top:-264px;
        opacity:.8;
        filter:alpha(opacity =80);
    }
    100%{
        margin-top:-180px;
        opacity:1;
        filter:alpha(opacity =100);
        z-index:1;
    }
}
@keyframes moveDown {
    0%{
        margin-top:-600px;
        opacity:0;
        filter:alpha(opacity =0);
    }
    20%{
        margin-top:-516px;
        opacity:.2;
        filter:alpha(opacity =20);
    }
    40%{
        margin-top:-432px;
        opacity:.4;
        filter:alpha(opacity =40);
    }
    60%{
        margin-top:-348px;
        opacity:.6;
        filter:alpha(opacity =60);
    }
    80%{
        margin-top:-264px;
        opacity:.8;
        filter:alpha(opacity =80);
    }
    100%{
        margin-top:-180px;
        opacity:1;
        filter:alpha(opacity =100);
        z-index:1;
    }
}
.active .reMainTit{
    -webkit-animation:moveCenter .6s ease-out .2s ;
    -moz-animation:moveCenter .6s ease-out .2s ;
    -ms-animation:moveCenter .6s ease-out .2s ;
    -o-animation:moveCenter .6s ease-out .2s ;
    animation:moveCenter .6s ease-out .2s ;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}
@-webkit-keyframes moveCenter{
    0%{
        margin-top:-300px;
        opacity:0;
        filter:alpha(opacity = 0);
    }
    20%{
        margin-top:-256px;
        opacity:.2;
        filter:alpha(opacity = 20);
    }
    40%{
        margin-top:-212px;
        opacity:.4;
        filter:alpha(opacity = 40);
    }
    60%{
        margin-top:-168px;
        opacity:.6;
        filter:alpha(opacity = 60);
    }
    80%{
        margin-top:-124px;
        opacity:.8;
        filter:alpha(opacity = 80);
    }
    100%{
        margin-top:-80px;
        opacity:1;
        filter:alpha(opacity = 100);
    }
}
@-moz-keyframes moveCenter{
    0%{
        margin-top:-300px;
        opacity:0;
        filter:alpha(opacity = 0);
    }
    20%{
        margin-top:-256px;
        opacity:.2;
        filter:alpha(opacity = 20);
    }
    40%{
        margin-top:-212px;
        opacity:.4;
        filter:alpha(opacity = 40);
    }
    60%{
        margin-top:-168px;
        opacity:.6;
        filter:alpha(opacity = 60);
    }
    80%{
        margin-top:-124px;
        opacity:.8;
        filter:alpha(opacity = 80);
    }
    100%{
        margin-top:-80px;
        opacity:1;
        filter:alpha(opacity = 100);
    }
}
@-ms-keyframes moveCenter{
    0%{
        margin-top:-300px;
        opacity:0;
        filter:alpha(opacity = 0);
    }
    20%{
        margin-top:-256px;
        opacity:.2;
        filter:alpha(opacity = 20);
    }
    40%{
        margin-top:-212px;
        opacity:.4;
        filter:alpha(opacity = 40);
    }
    60%{
        margin-top:-168px;
        opacity:.6;
        filter:alpha(opacity = 60);
    }
    80%{
        margin-top:-124px;
        opacity:.8;
        filter:alpha(opacity = 80);
    }
    100%{
        margin-top:-80px;
        opacity:1;
        filter:alpha(opacity = 100);
    }
}
@-o-keyframes moveCenter{
    0%{
        margin-top:-300px;
        opacity:0;
        filter:alpha(opacity = 0);
    }
    20%{
        margin-top:-256px;
        opacity:.2;
        filter:alpha(opacity = 20);
    }
    40%{
        margin-top:-212px;
        opacity:.4;
        filter:alpha(opacity = 40);
    }
    60%{
        margin-top:-168px;
        opacity:.6;
        filter:alpha(opacity = 60);
    }
    80%{
        margin-top:-124px;
        opacity:.8;
        filter:alpha(opacity = 80);
    }
    100%{
        margin-top:-80px;
        opacity:1;
        filter:alpha(opacity = 100);
    }
}
@keyframes moveCenter{
    0%{
        margin-top:-300px;
        opacity:0;
        filter:alpha(opacity = 0);
    }
    20%{
        margin-top:-256px;
        opacity:.2;
        filter:alpha(opacity = 20);
    }
    40%{
        margin-top:-212px;
        opacity:.4;
        filter:alpha(opacity = 40);
    }
    60%{
        margin-top:-168px;
        opacity:.6;
        filter:alpha(opacity = 60);
    }
    80%{
        margin-top:-124px;
        opacity:.8;
        filter:alpha(opacity = 80);
    }
    100%{
        margin-top:-80px;
        opacity:1;
        filter:alpha(opacity = 100);
    }
}
.active .intro2 .mainTit{
    margin-top:-80px;
    opacity:1;
    filter:alpha(opacity = 100);
}

.active .intro2 .titBoxlj1{
    margin-top:-220px;
}
.active .intro2 .mainTit{
    margin-top:-120px;
}
.active .s7content .titBoxlj1{
    margin-top:-170px;
    opacity:1;
    filter:alpha(opacity=100);
}
@-moz-document url-prefix(){.active .s7content .titBoxlj1{margin-top:-320px}}
.active .s7content .mainTit{
    margin-top:-30px;
    opacity:1;
    filter:alpha(opacity=100);

}




.active .s7content .mainTit{
    margin-top:130px;
    opacity:1;
    filter:alpha(opacity=100);

}

@-moz-document url-prefix(){.active .s7content .mainTit{margin-top:-30px}}