
/* banner部分 */


.hbg_banner{
    width:100%;
    height:355px;
    background:url(/images/hbg_banner1.jpg) no-repeat top center;
    border-bottom:1px solid #dbdcde;
}
/* 主体部分 */
.hbg_mainContent{
    width:100%;
    padding-top:70px;
    height:auto;
    overflow:hidden;
    background:url(/images/hbg_w960bg.jpg);
}
.hbg_w960{
    width:960px;
    margin:0 auto;
}
.hbg_w960 h3.hbg_mouldTit{
    height:	34px;
    padding:25px 0;
    width:100%;
    border-bottom:1px solid #d0d0d0;
    margin-bottom:50px;
}
.hbg_w960 h3.pb18{
    padding:25px 0  18px;
}
.hbg_w960 h3 strong{
    font-size:34px;
    color:#5e5e5e;
    margin-right:18px;
    font-family:"microsoft yahei";
}
.hbg_w960 h3 span{
    font-size:18px;
    color:#434343;
    font-family:"microsoft yahei";
    font-weight:300;
}
.hbg_moulds{
    width:918px;
    padding-left:42px;
    height:auto;
    overflow:hidden;
    margin-bottom:75px;
}
.hbg_mouldUnits{
    width:211px;
    padding-top:15px;
    height:186px;
    float:left;
    margin-right:14px;
}
.hbg_mouldUnits h3{
    padding:25px 0 20px;
    font-size:28px;
    color:#117600;
    font-family:"Microsoft YaHei";
    width:100%;
    text-align:center;
}
.hbg_mouldUnits p{
    width:150px;
    margin:0 auto;
    font-size:16px;
    color:#8f8f8f;
    line-height:28px;
    text-align:center;
    font-family:"Microsoft YaHei";
}

.hbg_unit1{
    background:url(/images/hbg_MUnit1.jpg)  no-repeat;
}
.hbg_unit2{
    background:url(/images/hbg_MUnit2.jpg)  no-repeat;
}
.hbg_unit3{
    background:url(/images/hbg_MUnit3.jpg) no-repeat;
}
.hbg_unit4{
    background:url(/images/hbg_MUnit4.jpg) no-repeat;
}
.hbg_addZone{
    padding-left:2px;
    width:958px;
    height:auto;
    overflow:hidden;
}
.hbg_addZone dl{
    width:438px;
    padding-left:40px;
    height:82px;
    float:left;
    margin-bottom:26px;
}
.hbg_addZone dt{
    width:82px;
    height:82px;
    float:left;
}
.hbg_addZone dd{
    width:332px;
    height:82px;
    display:table-cell;
    vertical-align:middle;
    font-size:18px;
    color:#696969;
    line-height:32px;
    padding-left:24px;
}
