/*智慧社区*/
.hsq_banner{
    width: 100%;
    height: 355px;
    background: url(/images/zhhsq_banner.jpg) no-repeat top center;
    border-bottom: 1px solid #dbdcde;
}
.text-center{
    text-align:center;

}
.con_list{
    width:960px;
    margin:15px 0;
}
.con_left{

    padding:10px;
    width:160px;
    height:160px;
    line-height:160px;
    color:#fff;
    font-size:18px;
    font-family:"Microsoft YaHei",Arial;
    text-align:center;
    float:left;
}
.img_bg1{
      background:url(/images/hsq_1img3.jpg) no-repeat center center;
 }
.img_bg2{
    background:url(/images/hsq_2img.jpg) no-repeat center center;
}
.img_bg3{
    background:url(/images/hsq_3img.jpg) no-repeat center center;
}
.img_bg4{
    background:url(/images/hsq_4img.jpg) no-repeat center center;
}

.con_right{
    width:740px;
    float:left;
    padding:20px;

    height:140px;
}
.con_right_bg1{
    background:#375bc6;
}
.con_right_bg2{
    background: rgba(187, 207, 223, 0.76);
}
.con_right_bg2 p{
    color: #373b47 !important;
}

.con1_img{
    text-align:center;
    margin:0 auto;
    width:360px;
}
.con1_img img{
    float:left;
    margin:15px;
    width:90px;
}
.con_right p{
    font-size:16px;
    color:#fff;
    line-height:30px;
}