
/*智慧社区*/
.section{
	overflow:hidden;	
}
.section1 .intro1{
	width:100%;
	height:100%;
	background:url(/images/zone_bg1.jpg) no-repeat center;
}
.zoneW960{ width:960px;height:auto; position:relative;height:100%; margin:0 auto;}
.zoneTit,.zoneSubTit{
	position:absolute;
	width:458px;
}
.zoneTit1{
	height:42px;
	top:50%;
	right:-150%;
	margin-top:-208px;
	-webkit-transition:all .5s linear .2s;
	-moz-transition:all .5s linear .2s;
	-ms-transition:all .5s linear .2s;
	-o-transition:all .5s linear .2s;
	transition:all .5s linear .2s;
}
.zoneTit2{
	height:43px;
	top:50%;
	right:-150%;
	margin-top:-28px;
	-webkit-transition:all .5s linear .2s;
	-moz-transition:all .5s linear .2s;
	-ms-transition:all .5s linear .2s;
	-o-transition:all .5s linear .2s;
	transition:all .5s linear .2s;
}
.zoneSubTit1{
	height:68px;
	top:50%;
	right:150%;
	margin-top:-150px;
	-webkit-transition:all .5s linear .4s;
	-moz-transition:all .5s linear .4s;
	-ms-transition:all .5s linear .4s;
	-o-transition:all .5s linear .4s;
	transition:all .5s linear .4s;
}
.zoneSubTit2{
	height:68px;
	top:50%;
	right:150%;
	margin-top:30px;
	-webkit-transition:all .5s linear .4s;
	-moz-transition:all .5s linear .4s;
	-ms-transition:all .5s linear .4s;
	-o-transition:all .5s linear .4s;
	transition:all .5s linear .4s;
}
.active .zoneTit,.active .zoneSubTit{
	right:0%;
}
.section2 .intro1{
	width:100%;
	height:100%;
	background:url(/images/zone_bg2.jpg) no-repeat center;
}
.zone_Ban2{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-480px;
	margin-top:300px;
	
	
}
.active .zone_Ban2{
	margin-top:-220px;
	-webkit-transition:all .9s linear .4s;
	-moz-transition:all .9s linear .4s;
	-ms-transition:all .9s linear .4s;
	-o-transition:all .9s linear .4s;
	transition:all .9s linear .4s;
}
.pTit{
	color:#0061aa;
	font-size:16px;
	text-indent:32px;
	line-height:26px;
	padding:12px 0;
	border-bottom:1px solid #c9c9c9;	
}
.zone_solution{
	width:960px;
	height:auto;
}
.zone_solution h3{
	padding:12px 0;
	width:960px;
}
.zone_l{
	float:left;
	width:332px;
	height:340px;	
	margin-right:20px;
}
.zone_lLinks a{
	display:block;
	height:72px;
	background:#0061aa;
	font-size:18px;
	color:#fff;
	line-height:72px;
	text-align:center;	
	border:1px solid #bbd5e8;
	float:left;
}
.zone_link1{
	width:160px;
	margin-right:8px;	
}
.zone_link2{
	width:160px;	
}
.zone_link3{
	width:330px;	
}
.zone_link4{
	width:160px;
	margin-right:8px;	
}
.zone_link5{
	width:160px;	 	
}
.zone_upLinks,.zone_midLinks{
	margin-bottom:6px;	
	overflow:hidden;
}
.zone_r{
	float:left;
	width:520px;
	height:auto;	
}
.zone_r p{
	font-size:14px;
	color:#636363;
	line-height:24px;	
}
.blue{ color:#0061aa;}
/* footer部分 */
/* footer */
#footer{
	width:100%;
	height:113px;
	background:url(/images/footer.jpg) no-repeat top center;
	position:absolute;
	bottom:0;
	left:0;
}
.w960{
	width:960px;
	margin:0 auto;	
	height:113px;
}
#footer p.links{
	padding-left:34px;
	height:auto;
	opacity:1;	
	filter:alpha(opacity=100);
	text-align:left;
	padding-top:26px;
	margin-bottom:12px;
}
#footer p.links a{
	padding:0 10px;	
	color:#a0ecff;
	font-size:12px;
	font-weight:700;
	color:#a0ecff!important;
	overflow: visible!important;
}
#footer p.address{
	opacity:1;
	filter:alpha(opacity=100);	
	text-align:left;
	color:#a0ecff;
	font-size:12px;
	padding-left:44px;
    line-height:24px;
}