<style>
    .aus{
        color:#FFF !important;
        border-bottom:2px solid #eb322d;
        background:#f0615b;
    }

</style>
<script type="text/javascript">
    $(document).ready(function() {
        //ie8 特殊处理
        if(  !document.addEventListener  ){
            $(".rotatepic>img").hide();
            $(".roteitem").css("margin-top","0px");
        }
        $('#content').fullpage({
            sectionsColor: ['#7BAABE', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#FAFAFA', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb'],
            slidesNavigation: true,
            navigation: true,
            navigationPosition: 'right',
            afterLoad :function(anchorLink, index){
                if(index === 8){
                    var vediocontainer = $(".vediocontainer");
                    if(vediocontainer.find("object").length === 0){
                        var object = "<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0' width='680' height='300'><param name='movie' value='http://www.weaver.com.cn/emobile/Experience/VIDEO/vcastr22.swf?vcastr_file=mobile_SB.flv&IsAutoPlay=0'><param name='quality' value='high'><param name='allowScriptAccess' value='sameDomain'><param name='allowFullScreen' value='True'><param name='wmode' value='opaque'><embed src='http://www.weaver.com.cn/emobile/Experience/VIDEO/vcastr22.swf?vcastr_file=mobile_SB.flv&IsAutoPlay=0' quality='high' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash' width='680' height='300' allowscriptaccess='sameDomain' allowfullscreen='True'>"+
                                "</object>"
                        vediocontainer.append(object);
                    }
                }
            }
        });

        //$('.apply, .applybtn').themePopover();
    });
</script>


<div id="content">
<div id="section1" class="section section1">
  <div class="intro1">
    <div class="usW960">
      <h3 class="us_tit">
        <img src="/images/us_tit1.png" width="100%">
      </h3>
      <div class="outsidewrap">
        <div class="innerwrap">
          <ul class="sum">
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/6月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">广福城与IBM公司签订智慧社区项目合作协议</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/6月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">广福城与IBM公司签订智慧社区项目合作协议</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/6月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">广福城与IBM公司签订智慧社区项目合作协议</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/6月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">广福城与IBM公司签订智慧社区项目合作协议</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/6月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">广福城与IBM公司签订智慧社区项目合作协议</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/6月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">广福城与IBM公司签订智慧社区项目合作协议</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/6月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">广福城与IBM公司签订智慧社区项目合作协议</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/7月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">广福城与华为公司签订智慧社区项目合作协议</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/9月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">1.广福城与施耐德中国签订数据中心合作协议<br />2.云南彩立方数据科技有限公司名称在工商得到核准</a></p>
              </div>
            </li>

            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/10月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">参加“第一届移动时代金融安全产业挑战论坛”以及倪光南、吕述望等七位院士召开的第24届INTERNET安全利用学术研讨会</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2014/12月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">彩立方数据中心建设启动</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2015/1月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">参加北京望京SOHO举行的《法中携手，合作创新》活动，并得到法国总理曼努埃尔?瓦尔期先生的高度赞许</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2015/3月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">彩立方团队组建完成</a></p>
              </div>
            </li>
            <li>
              <div class="us_picL">
                <div class="us_timeSpot">2015/6月</div>
              </div>
              <div class="us_picR">
                <p><a href="#" target="_blank">彩立方数据中心竣工</a></p>
              </div>
            </li>

          </ul>
        </div>
        <span class="us_left"></span>
        <span class="us_right"></span>
        <ol class="dots">
          <li class="currentdot">
            <em>2013 <br><span>1月</span></em>
          </li>
          <li class="currentdot">
            <em>2013 <br><span>1月</span></em>
          </li>
          <li class="currentdot">
            <em>2013 <br><span>1月</span></em>
          </li>
          <li class="currentdot">
            <em>2013 <br><span>1月</span></em>
          </li>
          <li class="currentdot">
            <em>2013 <br><span>1月</span></em>
          </li>
          <li class="currentdot">
            <em>2013 <br><span>1月</span></em>
          </li>
          <li class="currentdot">
            <em>2014 <br><span>6月</span></em>
          </li>
          <li>
            <em>2014 <br><span>7月</span></em>
          </li>
          <li>
            <em>2014 <br><span>9月</span></em>
          </li>
          <li>
            <em>2014 <br><span>10月</span></em>
          </li>
          <li>
            <em>2014 <br><span>12月</span></em>
          </li>
          <li>
            <em>2015 <br><span>1月</span></em>
          </li>
          <li>
            <em>2015 <br><span>3月</span></em>
          </li>
          <li>
            <em>2015 <br><span>6月</span></em>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div id="section2" class="section section2">
  <div class="intro1 intro2">

    <div class="us_wish">
      <div class="us_w654">
        <h3 class="us_tit2"><img src="/images/us_tit2.png" width="100%"></h3>
        <h3 class="us_WishTit">
          我们的愿景
        </h3>
        <div class="us_wishesPart">
          <div class="us_leftWish">
            <div class="us_wishIcon">

            </div>
            <p>建立完善的智慧社区运营平台，寻求物业运营战略合作伙伴</p>
          </div>
          <div class="us_rightWish">
            <div class="us_wishIcon">

            </div>
            <p>建立金融资信评估体系，云计算平台，建立社区金融体系</p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
<div id="section3" class="section section3">
  <div class="intro1 intro2">
    <div class="us_W486">
      <h3 class="us_tit3">
        <img src="/images/us_tit3.png" width="275" height="64">
      </h3>
      <p>基础设施：拥有1000平米，建设等级T3+的模块化数据中心；是中国最先进，最可靠，最绿色，的数据中心；大型监控指挥中心；培训中心，远程视频会议中心</p>
    </div>
    <div class="us_W652">
      <a><img src="/images/us_page3Pic1.jpg" width="186" height="186"></a>
      <a class="us_page3CenterPic"><img src="/images/us_page3Pic2.jpg" width="186" height="186"></a>
      <a><img src="/images/us_page3Pic3.jpg" width="186" height="186"></a>
    </div>
  </div>


</div>
<div id="section4" class="section section4">
  <div class="intro1 intro2">
    <div class="us_page4W652">
      <h3 class="us_tit4"><img src="/images/us_tit4.png" width="274" height="64" /></h3>
      <div class="us_business">
        <p>通过信息技术（IT）规划、设计，实现对智慧社区的建设与运营</p>
        <p>实现模式：立足广福，践行先进模式，建设智慧社区，以虚拟集成商的形式对外承接服务和合作；</p>
      </div>
    </div>

  </div>


</div>

<div id="section5" class="section section5">
  <div class="intro1 intro2">
    <div class="us_W532">
      <div class="ceoes">
        <div class="ceo ceo1">
          <p>
            <!--简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介-->
          </p>
        </div>
        <div class="ceo ceo2">
          <p>
            <!--简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介-->
          </p>
        </div>
        <div class="ceo ceo3">
          <p>
            <!--简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介-->
          </p>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="w960">
        <p class="links">
          <a href="javascript:void(0);" onclick="reload()">首页</a>
          <a href="/home/huishequ">智慧社区</a>
          <a href="/home/huibangong">慧办公</a>
          <a href="/home/huishenghuo">慧生活</a>
          <a href="/home/huigouwu">慧购物</a>
          <a href="/home/about_us">关于我们</a>
          <a href="/home/join_us">招贤纳士</a>
          <a href="/home/app">APP下载</a>
        </p>
        <p class="address">
          <span>版权所有：云南彩立方数据科技有限公司</span>&nbsp;&nbsp;&nbsp;&nbsp;
          ICP备案号：京ICP备05068367号
        </p>
        <p class="tels">
          <span>联系方式</span> 0871-64589208&nbsp;&nbsp;&nbsp;&nbsp;
          <span>企业邮箱</span> ynclfsj@clfsj.com &nbsp;&nbsp;&nbsp;&nbsp;
          <span>地址：昆明市日新东路广福城A11-1栋1-4层</span>&nbsp;&nbsp;&nbsp;&nbsp;

        </p>
      </div>
    </div>

  </div>


</div>

</div>

<script type="text/javascript">
    // JavaScript Document
    function dotClick(ulName,btnr,btnl,dotName,moveTime){

        /*在UI内部结尾处插入一个和第一个一样的li*/
        var myUl = $(ulName);
        var myli = $(ulName).children("li:first");
        var mylis = $(ulName).children("li");
        var oldot=$(dotName);
        var btnRight = $(btnr);
        var btnLeft = $(btnl);
        /*for(var i=0;i<mylis.length-1;i++)
         {
         oldot.append("<li></li>");
         }*/
        var aDotWidth = oldot.width();
        var aDotLiWidth = oldot.find("li").width();
        var oDotMr=(aDotWidth - aDotLiWidth*mylis.length)/mylis.length-1;
        oldot.css({"padding-left":oDotMr/2,"padding-right":oDotMr/2});
        oldot.width(aDotWidth -oDotMr);
        aDotWidth = oldot.width();
        var oDotLiMr =(aDotWidth - aDotLiWidth*mylis.length)/(mylis.length-1);

        oldot.find("li").css("margin-right",oDotLiMr);
        oldot.find("li:last").css("margin-right",0);
        var tbsc = null;
        var tips=$(myli).clone(true);
        myUl.append(tips);
        var mylilast = $(ulName).children("li:last");
        var mydotlilast = $(dotName).children("li:last");
        /*点击事件*/
        var num = 0;/*图片的*/
        var num2 = 0;/*小点点的*/
        var imgheight =myUl.children("li").css('width');/*获取插入图片的宽度*/
        imgheight = parseInt(imgheight)/*转义成数字*/
        var steps = myUl.children("li").length;/*获取li个数*/
        myUl.width(imgheight*steps)/*给ul赋值--宽度*/
        btnRight.click(function(){
            clearInterval(tbsc);
            num2++;
            num++;
            var distance=imgheight*-num;
            if(num > myUl.children("li:last").index()){
                num=1;
                myUl.css('left',0).stop().animate({left:(imgheight*-1)},300);
            }else{
                myUl.stop().animate({left:distance},300);
            };
            if(num2 > mydotlilast.index()){
                num2 = 0;
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }else{
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }
            tbsc=setInterval(sports,moveTime);
        })
        btnLeft.click(function(){
            clearInterval(tbsc);
            num2--;
            num--;
            var num1 = mylilast.index();
            var dist = imgheight*num*-1;
            if(num < 0){
                num = num1-1;
                myUl.css('left',(num1*-1*imgheight)).stop().animate({left:((num1-1)*-1*imgheight)},300)
            }else{
                myUl.stop().animate({left:dist},300);
            }
            if(num2 < 0){
                num2 = mydotlilast.index();
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }else{
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }
            tbsc=setInterval(sports,moveTime);
        })
        /*定时器*/
        function sports(){
            num2++;
            num++;
            var distance=imgheight*-num;
            if(num > myUl.children("li").index()){
                num=1;
                myUl.css('left',0).stop().animate({left:(imgheight*-1)},300);
            }else{
                myUl.stop().animate({left:distance},300);
            };
            if(num2 > mydotlilast.index()){
                num2 = 0;
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }else{
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }
        }
        tbsc=setInterval(sports,moveTime);

        var distbts;
        oldot.children("li").click(function(){
            distbts=imgheight*$(this).index()*-1;
            $(this).addClass('currentdot').siblings().removeClass('currentdot');
            myUl.animate({left:distbts},300);
            num = $(this).index();
            num2 = $(this).index();
            clearInterval(tbsc);
            tbsc=setInterval(sports,moveTime);
        })
    }
    dotClick($(".sum"),$(".us_right"),$(".us_left"),$(".dots"),5000)

    /*公司高管部分  简介动画效果css*/
    /*$(".ceo").hover(function(){
        $(this).addClass("us_o100").siblings().removeClass("us_o100");
    },function(){
        $(this).removeClass("us_o100");
    })*/
</script>


<script>

    // JavaScript Document
    function dotClick(ulName,btnr,btnl,dotName,moveTime){

        /*在UI内部结尾处插入一个和第一个一样的li*/
        var myUl = $(ulName);
        var myli = $(ulName).children("li:first");
        var mylis = $(ulName).children("li");
        var oldot=$(dotName);
        var btnRight = $(btnr);
        var btnLeft = $(btnl);
        /*for(var i=0;i<mylis.length-1;i++)
         {
         oldot.append("<li></li>");
         }*/
        var tbsc = null;
        var tips=$(myli).clone(true);
        myUl.append(tips);
        var mylilast = $(ulName).children("li:last");
        var mydotlilast = $(dotName).children("li:last");
        /*点击事件*/
        var num = 0;/*图片的*/
        var num2 = 0;/*小点点的*/
        var imgheight =myUl.children("li").css('width');/*获取插入图片的宽度*/
        imgheight = parseInt(imgheight)/*转义成数字*/
        var steps = myUl.children("li").length;/*获取li个数*/
        myUl.width(imgheight*steps)/*给ul赋值--宽度*/
        btnRight.click(function(){
            clearInterval(tbsc);
            num2++;
            num++;
            var distance=imgheight*-num;
            if(num > myUl.children("li:last").index()){
                num=1;
                myUl.css('left',0).stop().animate({left:(imgheight*-1)},300);
            }else{
                myUl.stop().animate({left:distance},300);
            };
            if(num2 > mydotlilast.index()){
                num2 = 0;
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }else{
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }
            tbsc=setInterval(sports,moveTime);
        })
        btnLeft.click(function(){
            clearInterval(tbsc);
            num2--;
            num--;
            var num1 = mylilast.index();
            var dist = imgheight*num*-1;
            if(num < 0){
                num = num1-1;
                myUl.css('left',(num1*-1*imgheight)).stop().animate({left:((num1-1)*-1*imgheight)},300)
            }else{
                myUl.stop().animate({left:dist},300);
            }
            if(num2 < 0){
                num2 = mydotlilast.index();
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }else{
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }
            tbsc=setInterval(sports,moveTime);
        })
        /*定时器*/
        function sports(){
            num2++;
            num++;
            var distance=imgheight*-num;
            if(num > myUl.children("li").index()){
                num=1;
                myUl.css('left',0).stop().animate({left:(imgheight*-1)},300);
            }else{
                myUl.stop().animate({left:distance},300);
            };
            if(num2 > mydotlilast.index()){
                num2 = 0;
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }else{
                oldot.children("li").eq(num2).addClass('currentdot').siblings().removeClass('currentdot');
            }
        }
        tbsc=setInterval(sports,moveTime);

        var distbts;
        oldot.children("li").click(function(){
            distbts=imgheight*$(this).index()*-1;
            $(this).addClass('currentdot').siblings().removeClass('currentdot');
            myUl.animate({left:distbts},300);
            num = $(this).index();
            num2 = $(this).index();
            clearInterval(tbsc);
            tbsc=setInterval(sports,moveTime);
        })
    }
    dotClick($(".sum"),$(".us_right"),$(".us_left"),$(".dots"),5000)


</script>