<style>
    .aapp{
        color:#FFF !important;
        border-bottom:2px solid #eb322d;
        background:#f0615b;
    }

</style>
<div class="app_box">
	<div class="app_ctrlBox">
        <div class="app_erCode"><img src="/images/app_erCode.jpg"/></div>
        <div class="app_downloadBtns">
            <a class="app_andriod" href="#" target="_blank"><img src="/images/app_andorid.jpg" width="120"  height="41" /></a>
            <a class="app_ios" href="#" target="_blank"><img src="/images/app_ios.jpg" width="120"  height="41" /></a>
        </div>
    </div>
</div>
