<style>
    .abg{
        color:#FFF !important;
        border-bottom:2px solid #eb322d;
        background:#f0615b;
    }

</style>
<div class="hbg_banner"></div>
<div class="hbg_mainContent">
  <div class="hbg_w960">
    <h3 class="hbg_mouldTit"><strong>慧办公超值包</strong>
      <!--<span>慧办公园区在住企业单位高质量基础设施服务</span>-->
    </h3>
    <div class="hbg_moulds">
      <div class="hbg_mouldUnits hbg_unit1">
        <a href="#" target="_blank">
          <h3>网络</h3>
          <p>免费畅享全光纤网络，百兆带宽任您遨游</p>
        </a>
      </div>
      <div class="hbg_mouldUnits hbg_unit3">
        <a href="#" target="_blank">
          <h3>IT运维</h3>
          <p>提供、服务器、网络设备、存储设备、网络、电脑、打印机、复印机、软件、等IT办公专业维护，为您免去雇佣专业人员的费用</p>
        </a>
      </div>
      <div class="hbg_mouldUnits hbg_unit2">
        <a href="#" target="_blank">
          <h3>移动办公</h3>
          <p>一台智能手机摆脱空间的束缚，简化审批流程提高办公效率，增加企业效益</p>
        </a>
      </div>
      <div class="hbg_mouldUnits hbg_unit4">
        <a href="#" target="_blank">
          <h3>商务平台</h3>
          <p>为企业的商务接待提供全方位管家式服务，显著提高接待质量，有效降低接待费用</p>
        </a>
      </div>
      <div class="hbg_mouldUnits hbg_unit5">
        <a href="#" target="_blank">
          <h3>云打印</h3>
          <p>提供一条龙全包制打印服务，减少固定资本投入，减少运维人力成本</p>
        </a>
      </div>
    </div>
    <h3 class="hbg_mouldTit pb18"><strong>慧办公增值包</strong></h3>
    <div class="hbg_addZone">
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_cloud1.jpg" /></dt>
          <dd>只需一台显示集成设备即可实现PC功能，杜绝电脑折旧有效降低企业购买及维护办公电脑的费用</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_cloud2.jpg" /></dt>
          <dd>以全光网络和数据中心为基础，提供云主机、云存储等综合云服务，减少固定资本投入，减少运维人力成本</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_cloud3.jpg" /></dt>
          <dd>T3+数据中心提供服务器托管服务，配备专业运维确保运行，减少固定资本投入，减少运维人力成本</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_cloud4.jpg" /></dt>
          <dd>提供员工的上网行为管理服务，减少固定资本投入，减少运维人力成本</dd>
        </dl>
      </a>


    </div>
  </div>
</div>