<style>
    .abg{
        color:#FFF !important;
        border-bottom:2px solid #eb322d;
        background:#f0615b;
    }

</style>
<div class="hbg_banner"></div>
<div class="hbg_mainContent">
  <div class="hbg_w960">
    <h3 class="hbg_mouldTit"><strong>必备模块</strong>
      <!--<span>慧办公园区在住企业单位高质量基础设施服务</span>-->
    </h3>
    <div class="hbg_moulds">
      <div class="hbg_mouldUnits hbg_unit1">
        <a href="#" target="_blank">
          <h3>网络</h3>
          <p>全光高速接入</p>
        </a>
      </div>
      <div class="hbg_mouldUnits hbg_unit2">
        <a href="#" target="_blank">
          <h3>办公电话</h3>
          <p>通过APP瞬间为企业开通网络和办公电话服务</p>
        </a>
      </div>
      <div class="hbg_mouldUnits hbg_unit3">
        <a href="#" target="_blank">
          <h3>IT维护服务</h3>
          <p>为企业提供及时IT维护服务</p>
        </a>
      </div>
      <div class="hbg_mouldUnits hbg_unit4">
        <a href="#" target="_blank">
          <h3>门禁</h3>
          <p>为园区企业提供高质量门禁安装和监控服务</p>
        </a>
      </div>
    </div>
    <h3 class="hbg_mouldTit pb18"><strong>增值模块</strong></h3>
    <div class="hbg_addZone">
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_superFront.jpg" /></dt>
          <dd>超级前台：智能、安全的门卫</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_folder.jpg" /></dt>
          <dd>移动办公：随时随地解决工作问题</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_cloud.jpg" /></dt>
          <dd>云桌面：一台显示集成设备即可实现PC所有功能</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_commerical.jpg" /></dt>
          <dd>公共商务平台：便捷高效的商务套餐服务</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_print.jpg" /></dt>
          <dd>云打印：省去办公打印设备的绝佳选择</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_multiFun.jpg" /></dt>
          <dd>多功能会议室：容纳多路远程视频的高规格会议室</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_cloudService.jpg" /></dt>
          <dd>云服务：云计算和云存储按需即时配置开通</dd>
        </dl>
      </a>
      <a href="#" target="_blank">
        <dl>
          <dt><img src="/images/hbg_IDC.jpg" /></dt>
          <dd>IDC租赁：高性价比的IDC租赁服务</dd>
        </dl>
      </a>
    </div>
  </div>
</div>