<style>
    .asq{
        color:#FFF !important;
        border-bottom:2px solid #eb322d;
        background:#f0615b;
    }

</style>
<script type="text/javascript">
    $(document).ready(function() {
        //ie8 特殊处理
        if(  !document.addEventListener  ){
            $(".rotatepic>img").hide();
            $(".roteitem").css("margin-top","0px");
        }
        $('#content').fullpage({
            sectionsColor: ['#7BAABE', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#FAFAFA', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb'],
            slidesNavigation: true,
            navigation: true,
            navigationPosition: 'right',
            afterLoad :function(anchorLink, index){
                if(index === 8){
                    var vediocontainer = $(".vediocontainer");
                    if(vediocontainer.find("object").length === 0){
                        var object = "<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0' width='680' height='300'><param name='movie' value='http://www.weaver.com.cn/emobile/Experience/VIDEO/vcastr22.swf?vcastr_file=mobile_SB.flv&IsAutoPlay=0'><param name='quality' value='high'><param name='allowScriptAccess' value='sameDomain'><param name='allowFullScreen' value='True'><param name='wmode' value='opaque'><embed src='http://www.weaver.com.cn/emobile/Experience/VIDEO/vcastr22.swf?vcastr_file=mobile_SB.flv&IsAutoPlay=0' quality='high' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash' width='680' height='300' allowscriptaccess='sameDomain' allowfullscreen='True'>"+
                                "</object>"
                        vediocontainer.append(object);
                    }
                }
            }
        });

        //$('.apply, .applybtn').themePopover();
    });
</script>

<div id="content">
  <div id="section1" class="section section1">
    <div class="intro1">
      <div class="zoneW960">
        <div class="zoneTit zoneTit1">
          <img src="/images/zoneB1Tit1.png" width="311" height="42" />
        </div>
        <div class="zoneTit zoneTit2">
          <img src="/images/zoneB1Tit2.png" width="458" height="43" />
        </div>
        <div class="zoneSubTit zoneSubTit1">
          <img src="/images/zoneB1SubTit1.png" width="344" height="68"/>
        </div>
        <div class="zoneSubTit zoneSubTit2">
          <img src="/images/zoneB1SubTit2.png" width="393" height="101"/>
        </div>
      </div>
    </div>
  </div>


  <div id="section2" class="section section2">
    <div class="intro1 intro2">
      <div class="zoneW960">
        <div class="zone_Ban2">
          <p class="pTit">
            房地产行业已经由大规模建设房产的爆炸式发展期进入到了消化房产储备量的经营期。在这样的趋势下各个房地产巨头都在寻求转型，而智慧社区运营能够帮助地产商从过去的一次建设从而实现单次营销的单线旧模式中走出来，帮助他们转型成为一次建设单次销售实现百年盈利的生态圈式模式。
          </p>
          <div class="zone_solution">
            <h3><img src="/images/zoneB2Tit1.png" width="190" height="23" /></h3>

            <div class="zone_l">
              <div class="zone_lLinks">
                <div class="zone_upLinks">
                  <a class="zone_link1" href="#" target="_blank" title="云计算" original="一个数据中心">一个数据中心</a>
                  <a class="zone_link2" href="#" target="_blank" title="全光网，物联网"  original="两张网">两张网</a>
                </div>
                <div class="zone_midLinks">
                  <a class="zone_link3" href="#" target="_blank" title="住宅，商业，商务，真正实现三网合一" original="三种业态">三种业态</a>
                </div>
                <div class="zone_downLinks">
                  <a class="zone_link4" href="#" target="_blank" title="PC,phone,pad,TV" original="四屏互动">四屏互动</a>
                  <a class="zone_link5" href="#" target="_blank" title="基础，IT运营，媒体，电商，金融" original="五种业务">五种业务</a>
                </div>
              </div>
            </div>



            <div class="zone_r">
              <p><span class="blue">（一个数据中心）</span>与施耐德电气携手共同打造微模块数据中心，建设等级T3+，建设面积1030平米，采用当今世界上最先进的微模块技术，热池技术，模块化UPS及水平送风空调，采用DCIM进行管理，代表当今数据中心建设最高水平。</p>
              <p><span class="blue">（二张网）</span>与华为公司携手共同打造智慧社区全光网络，打造成为中国首个三网合一的智慧社区。</p>
              <p><span class="blue">（三种业态）</span>以业主的真实需求为依据，以马斯诺博士的需求金字塔为方法论，打造中国首个慧生活，慧办公，慧购物三种业态合一的智慧社区。</p>
              <p><span class="blue">（四屏互动）</span>通过全光网络与无线WiFi覆盖等技术手段，打通手机屏、PAD屏、电视屏，可视对讲屏，与业主实现真正意义的即时互动。</p>
              <p><span class="blue">（五种业务）</span>通过智慧运营实现可持续性的盈利。</p>
            </div>
          </div>
        </div>


      </div>
      <div id="footer">
        <div class="w960">
          <p class="links">
            <a href="#" target="_blank">首页</a>
            <a href="#" target="_blank">彩立方</a>
            <a href="#" target="_blank">慧办公</a>
            <a href="#" target="_blank">慧生活</a>
            <a href="#" target="_blank">慧购物</a>
            <a href="#" target="_blank">关于我们</a>
            <a href="#" target="_blank">招贤纳士</a>
            <a href="#" target="_blank">APP下载</a>
          </p>
          <p class="address">
            <span>版权所有：云南彩立方数据科技有限公司</span>&nbsp;&nbsp;&nbsp;&nbsp;ICP备案号：滇ICP备15003050<br />电话：0871-64589208&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：ynclfsj@clfsj.com&nbsp;&nbsp;&nbsp;&nbsp;地址：昆明市日新东路广福城A11-1栋1-4层

          </p>
        </div>
      </div>
    </div>


  </div>

</div>

<script>
    var aLinks1 = $(".zone_lLinks a");
    aLinks1.hover(function(){
        var titValue1 = $(this).attr("title");
        if($(this).attr("class")=="zone_link5"){
            $(this).css("line-height","36px");
        }
        $(this).html(titValue1);
    },function(){
        var oriValue1 = $(this).attr("original");
        $(this).html(oriValue1);
        if($(this).attr("class")=="zone_link5"){
            $(this).css("line-height","72px");
        }

    })
</script>
