<style>
    .ash{
        color:#FFF !important;
        border-bottom:2px solid #eb322d;
        background:#f0615b;
    }

</style>
<div class="zhaoxiannashi_bg" style="height:2200px">
<div class="huishenghuo_banner"></div>
  <div class="huishenghuo_content">
    <p class="text">
      智慧物业，使物业费不再是居民的负担，使收取物业费不再是物业公司唯一的收入来源。居民使用社区一卡通进行日常消费，即可抵扣物业费。社区一卡通的广泛使用，最终形成社区银行的资金池沉淀。
    </p>
    <h3 class="first_titile" style="margin-top:70px;">1.社区电商</h3>
    <div class="huishenghuo_box">
      <div class="left">
        <h4 class="second_t">a.社区O2O平台</h4>
        <p class="text">通过慧生活APP（手机，pad，TV等多种通道），社区住户可以足不出户向社区商铺购买下单，并要求其配送到家。同时，其消费额将会按照一定比例折扣本年度物业费。
        </p>
        <p class="text">加入平台的社区商铺，其优惠打折活动也同时可以通过四屏互动展现在千家万户家中。慧办公将为其提供全面的互联网平台服务和支付手段。社区物流配送将由物业负责。
        </p>
        <h4 class="second_t">b.精品单品店</h4>
        <p class="text">通过反向团购的方式，向社区居民提供最优品质且远低于市场价格的精品单品。</p>
        </p>
      </div>
      <div class="right">
        <img src="/images/hsh_1.png"/>
      </div>
      <div style="clear:both;"></div>
    </div>
    <h3 class="first_titile" style="margin-top:70px;">2.社区健康</h3>
    <div style="clear:both;"></div>
    <div class="huishenghuo_box">
      <div class="left2">
        <img src="/images/hsh_2.png"/>
      </div>
      <div class="right2">
        <h4 class="second_t">健康小站</h4>
        <p class="text">在社区内建立健康小站，向居民提供高质量的即时医疗和基本体检，普惠居民。
        </p>
        <h4 class="second_t">电子病历</h4>
        <p class="text">为社区居民建立个人电子健康管理，通过智能手环和手机app等多种方式，提供个性化的移动健康服务。
        </p>
      </div>
      <div style="clear:both;"></div>
    </div>
    <h3 class="first_titile" style="margin-top:70px;">3.社区金融</h3>
    <div class="huishenghuo_box">
      <div class="left">
        <h4 class="second_t">智能一卡通</h4>
        <p class="text">智能一卡通与金融一卡通的完美结合，将社区安全和社区消费与社区物业紧密结合，促使传统物业向新型服务型的智慧型物业进化。
        </p>
        <h4 class="second_t">社区银行</h4>
        <p class="text">通过智能一卡通将大型社区内的消费资金进一步沉淀下来，形成独立资金池，最终形成真正意义上的社区银行。
        </p>
      </div>
      <div class="right">
        <img src="/images/hsh_3.png"/>
      </div>

    </div>

  </div>
  <div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>