<style>
    .ahome{
        color:#FFF !important;
        border-bottom:2px solid #eb322d;
        background:#f0615b;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        //ie8 特殊处理
        if(  !document.addEventListener  ){
            $(".rotatepic>img").hide();
            $(".roteitem").css("margin-top","0px");
        }
        $('#content').fullpage({
            sectionsColor: ['#7BAABE', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#FAFAFA', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb', '#fff', '#f7f9fb'],
            slidesNavigation: true,
            navigation: true,
            navigationPosition: 'right',
            afterLoad :function(anchorLink, index){
                if(index === 8){
                    var vediocontainer = $(".vediocontainer");
                    if(vediocontainer.find("object").length === 0){
                        var object = "<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0' width='680' height='300'><param name='movie' value='http://www.weaver.com.cn/emobile/Experience/VIDEO/vcastr22.swf?vcastr_file=mobile_SB.flv&IsAutoPlay=0'><param name='quality' value='high'><param name='allowScriptAccess' value='sameDomain'><param name='allowFullScreen' value='True'><param name='wmode' value='opaque'><embed src='http://www.weaver.com.cn/emobile/Experience/VIDEO/vcastr22.swf?vcastr_file=mobile_SB.flv&IsAutoPlay=0' quality='high' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash' width='680' height='300' allowscriptaccess='sameDomain' allowfullscreen='True'>"+
                                "</object>"
                        vediocontainer.append(object);
                    }
                }
            }
        });

        //$('.apply, .applybtn').themePopover();
    });
</script>

<!-- <script  type="text/javascript">
  var _sogou_sa_q = _sogou_sa_q || [];
  _sogou_sa_q.push(['_sid', '270849-278665']);
 (function() {
    var _sogou_sa_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
    var _sogou_sa_src=_sogou_sa_protocol+"hermes.sogou.com/sa.js%3Fsid%3D270849-278665";
    document.write(unescape("%3Cscript src='" + _sogou_sa_src + "' type='text/javascript'%3E%3C/script%3E"));
    })();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e0dcf17b65689b3a19e6cee548d08a46";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script> -->




<div id="content">
  <div id="section1" class="section section1">

    <div class="intro1">
      <div class="titBoxlj1 reWise">
        <img src="images/scrren1Box.png" />
      </div>
      <div class="mainTit reMainTit">
        <img src="images/screen1BTit.png" />
      </div>
      <div class="apply reApply"><a href="#" target="_blank">了解更多</a></div>
      <div class="hotline"></div>
    </div>

  </div>


  <div id="section2" class="section section2">
    <div class="intro1 intro2">
      <div class="titBoxlj1">
        <img src="/images/screen2Box.png" />
      </div>
      <div class="mainTit">
        <img src="/images/screen2BTit.png" />

      </div>
      <div class="apply"><a href="/home/huibangong">了解更多</a></div>
      <div class="iconBox">
        <div class="iconitem iconitem1">
          <p>节省办公费用，最多可达60%</p>
        </div>
        <div class="iconitem iconitem2">
          <p>减少固定投资，0投入开办公司不是梦</p>
        </div>
        <div class="iconitem iconitem3">
          <p>减少人力，高度专注于核心业务</p>
        </div>
        <div class="iconitem iconitem4">
          <p>提高效率，全面提供商务和技支撑平台术</p>
        </div>
      </div>
      <div class="hotline"></div>
    </div>
  </div>


  <div id="section3" class="section section3">
    <div class="intro1 intro2">
      <div class="titBoxlj1">
        <img src="/images/screen3Box.png" />
      </div>
      <div class="mainTit">
        <img src="/images/screen3BTit.png" />

      </div>
      <div class="apply"><a href="/home/huishenghuo" >了解更多</a></div>
      <div class="iconBox">
        <div class="iconitem iconitem1">
          <p>智慧物业信息平台，构建和谐服务社区</p>
        </div>
        <div class="iconitem iconitem2">
          <p>社区OTO电商平台，足不出户乐享购物服</p>
        </div>
        <div class="iconitem iconitem3">
          <p>消费抵购物业，目标实现0物业</p>
        </div>
        <div class="iconitem iconitem4">
          <p>慧健康，健康小站+电子病历为您保驾护航</p>
        </div>
      </div>
      <div class="hotline"></div>
    </div>

  </div>


  <div id="section4" class="section section4">
    <div class="intro1 intro2">
      <div class="titBoxlj1">
        <img src="/images/screen4Box.png" />
      </div>
      <div class="mainTit">
        <img src="/images/screen4BTit.png" />

      </div>
      <div class="apply"><a href="/home/huigouwu">了解更多</a></div>
      <div class="iconBox">
        <div class="iconitem iconitem1">
          <p>一分钟开通手机网店，瞬间拥有社区千万用户</p>
        </div>
        <div class="iconitem iconitem2">
          <p>满街都是黄金铺，大数据商铺分析系统</p>
        </div>
        <div class="iconitem iconitem3">
          <p>商业智能精准营销，我们更懂社区用户</p>
        </div>
        <div class="iconitem iconitem4">
          <p>多种支付+配送到家，全面提供后台服务</p>
        </div>
      </div>
      <div class="hotline"></div>
    </div>
  </div>

  <div id="section5" class="section section5">
    <div class="basecontainer">
      <div class="s7content">
        <div class="titBoxlj1">
          <img src="/images/screen5Box.png" />
        </div>
        <div class="mainTit">
          <img src="/images/screen5BTit.png" />
        </div>
        <div class="iconwarp">
          <a href="/home/huishenghuo">
            <div class="iconitem iconitem1"></div>
          </a>
          <a href="/home/huibangong">
            <div class="iconitem iconitem2"></div>
          </a>
          <a href="/home/huigouwu">
            <div class="iconitem iconitem3"></div>
          </a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="w960">
        <p class="links">
          <a href="/" target="_blank">首页</a>
          <a href="/home/huishequ" target="_blank">彩立方</a>
          <a href="/home/huibangong" target="_blank">慧办公</a>
          <a href="/home/huishenghuo" target="_blank">慧生活</a>
          <a href="/home/huigouwu" target="_blank">慧购物</a>
          <a href="/home/about_us" target="_blank">关于我们</a>
          <a href="/home/join_us" target="_blank">招贤纳士</a>
          <a href="#" target="_blank">APP下载</a>
        </p>
        <p class="address">
          <span>版权所有：云南彩立方数据科技有限公司</span>&nbsp;&nbsp;&nbsp;&nbsp;ICP备案号：滇ICP备15003050<br />电话：0871-64589208&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：ynclfsj@clfsj.com&nbsp;&nbsp;&nbsp;&nbsp;地址：昆明市日新东路广福城A11-1栋1-4层

        </p>
      </div>
    </div>
  </div>




  </div>










