<style>
    .ans{
        color:#FFF !important;
        border-bottom:2px solid #eb322d;
        background:#f0615b;
    }

</style>
<div class="zhaoxiannashi_bg" style="height:2700px">
  <div class="zhaoxiannashi_banner"></div>
  <div class="clear"></div>
  <div class="zhaoxiannashi_content">
    <div class="zxns_ln">
      <strong>企业用人理念：</strong><br />
      德为先，品为上，先做人，后做事。 <br />
      坚持创新踏实学习务实工作<br />
      业绩大于空话，功劳大于苦劳<br />
      欢迎怀揣梦想的你，带上你的思想和身心，加入我们，共同坚守我们的理想。

    </div>
      <h3 class="first_titile"><strong>美工设计</strong></h3>
        <div class="zhaoxiannashi_info">
          <h3>岗位职责：</h3>
          <p>1、负责公司产品及网站的宣传设计。<br />
            2、负责公司电商销售平台的设计装修。<br />
            3、负责网站网页的制作生成。<br />
            4、完成上级领导安排的其他工作。
           </p>
          <h3>任职要求：</h3>
          <p>
            1、精通使用Photoshop、illustrator、Dreamweaver、CSS+DIV等常用设计制作软件；<br />
            2、 熟悉页面架构和布局，能高效熟练编写静态html 页面；<br />
            3、有良好的平面设计感觉及良好的美工基础、审美能力和创意色彩感强者优先考虑；<br />
            4、有良好的团队合作意识，耐心，诚恳，有强烈的责任心和积极主动的工作态度，能够承受较大工作压力；<br />
            5、请携带作品参加面试。
          </p>
        </div>
    <h3 class="first_titile margin_t_100"><strong>Java工程师</strong></h3>
    <div class="zhaoxiannashi_info">
      <h3>任职资格：</h3>
      <p>
        1、熟练掌握java开发，精通J2EE规范以及主流设计模式，能熟练使用Spring、SpringMVC、Mybatis等开源框架；<br />
        2、精通基于Web的应用程序开发，精通JSP、Script，Jquery、Ajax等；<br />
        3、统招本科毕业，计算机相关专业，至少4年开发工作经验，参加过至少2个项目实施，熟悉移动互联网优先；<br />
        4、能承担较大工作压力；

      </p>
      <h3>岗位职责：</h3>
      <p>
        1、带领团队完成软件系统开发和项目实施工作；<br />
        2、编写各类项目设计文档、汇报文档以及方案等材料;<br />
        3、负责指导项目团队成员的技术工作；<br />
        4、负责项目团队的建设和管理工作；<br />
        5、负责把握项目的范围、成本、进度，与客户保持良好的合作关系；
      </p>
    </div>
    <h3 class="first_titile margin_t_100"><strong>我们的正在等待</strong></h3>
    <div class="zhaoxiannashi_info">
      <h3>管理类：</h3>
      <p>1、CTO</p>
      <h3>技术类：</h3>
      <p>1、	软件工程师<br />
        2、	机房运维工程师<br />
        3、	网络工程师
      </p>
      <h3>支持类：</h3>
      <p>1、	客户<br />
        2、	行政助理
      </p>

    </div>
    <h3 class="first_titile margin_t_100"><strong>联系我们</strong></h3>
    <div class="zhaoxiannashi_info">
        <p>联系我们：0871-84589208-680<br />
          HR邮箱：clfhr@clfsj.com
        </p>
    </div>
  </div>
</div>
