
<h1>大事记列表</h1>
 <a href="/events/new">添加</a>
<table border="1">
  <tr>
    <th>id</th>
    <th>日期</th>
    <th>内容</th>
    <th>序列</th>
  </tr>
  <% if !@events.nil?%>
   <%@events.each do |e|%>
      <tr>
        <td><%= e.id%></td>
        <td><%= e.event_date%></td>
        <td><%= e.content%></td>
      </tr>
  <%end%>
  <%end%>

</table>