
<body class="cbp-spmenu-push">
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <h3>Menu</h3>

  <a href="#">主页</a>
  <a href="#">智慧社区</a>
  <a href="#">慧办公</a>
  <a href="#">慧生活</a>
  <a href="#">慧购物</a>
  <a href="#">关于我们</a>
  <a href="#">招贤纳士</a>
  <a href="#">APP</a>
</nav>

<button id="showRightPush" style="float: right">Menu</button>
<script>

    var  menuRight = document.getElementById( 'cbp-spmenu-s2' ),
            showRightPush = document.getElementById( 'showRightPush' ),
            body = document.body;

    showRightPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toleft' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );

    };
</script>
</body>
