<div class="hgw_banner">
  <div class="aboutus_banner">
    <div style="clear:both"></div>
   <h3>中国真正意义全面实现智慧社区的公司</h3>
    <p>慧生活，慧办公，慧购物三种业态的打造者</p>

  </div>
  <ul class="aboutus_ul">
    <li>2014/6月广福城与IBM公司签订智慧社区项目合作协议</li>
    <li>2014/7月广福城与华为公司签订智慧社区项目合作协议</li>
    <li>2014/9月广福城与施耐德中国签订数据中心合作协议</li>
    <li>2014/9月云南彩立方数据科技有限公司名称在工商得到核准</li>
    <li>2014/10月参加“第一届移动时代金融安全产业挑战论坛”以及倪光南、吕述望等七位院士召开的第24届INTERNET安全利用学术研讨会</li>
    <li>2014/12月彩立方数据中心建设启动</li>
    <li>2015/1月参加北京望京SOHO举行的《法中携手，合作创新》活动，并得到法国总理曼努埃尔?瓦尔期先生的高度赞许</li>
    <li>2015/3月彩立方团队组建完成</li>
    <li>2015/6月彩立方数据中心竣工</li>
  </ul>

</div>
<div class="hgw_content">
    <div class="hsh_con">
      <h3>专业完整的智慧社区咨询</h3>
      <p>我们的愿景</p>
      <div class="us_box">
        <div class="us_left">
          <img src="/images/us_Ban2Icon1.png" width="50"/><br />
          建立完善的智慧社区运营平台，寻求物业运营战略合作伙伴
        </div>
        <div class="us_right">
          <img src="/images/us_Ban2Icon2.png" width="50"/><br />
          建立金融资信评估体系，云计算平台，建立社区金融体系
        </div>
      </div>
    </div>
  <div style="clear:both"></div>
  <div class="hsh_con">
    <h3>数据中心</h3>
    <p>基础设施：拥有1000平米，建设等级T3+的模块化数据中心；是中国最先进，最可靠，最绿色，的数据中心；大型监控指挥中心；培训中心，远程视频会议中心</p>
    <ul class="us_img">
      <li><img src="/images/us_page3Pic1.jpg" width="45"/></li>
      <li><img src="/images/us_page3Pic2.jpg" width="45"/></li>
      <li><img src="/images/us_page3Pic3.jpg" width="45"/></li>
    </ul>
    <div style="clear:both"></div>
  </div>
  <div class="hsh_con">
    <h3>公司业务</h3>
    <p>通过信息技术（IT）规划、设计，实现对智慧社区的建设与运营
      实现模式：立足广福，践行先进模式，建设智慧社区，以虚拟集成商的形式对外承接服务和合作；</p>
  </div>
  <div class="hsh_con">
    <h3>高管风采</h3>
     <div class="us_photo">
       <img src="/images/photo3.jpg" />
       <p><b>张学冬</b></p>
       <p>执行董事</p>
     </div>
    <div class="us_photo">
      <img src="/images/photo2.jpg" />
      <p><b>蒋鹏</b></p>
      <p></p>首席执行官</p>
    </div>
    <div class="us_photo">
      <img src="/images/photo1.jpg" />
      <p><b>肖家荣</b></p>
      <p>首席市场官</p>
    </div>
  </div>
</div>