<div class="app_box">
  <div class="app_btn">
      <a class="ios"><img src="/images/app_ios.jpg"/></a>
      <a class="and"><img src="/images/app_andorid.jpg"/></a>
  </div>
</div>
<script>
  function onload(){
      $(".app_box").height(($(window).height())-131);
  }
  onload();
</script>