<div class="hgw_banner">
  <img src="/images/hbg_banner.jpg" alt="慧办公" class="img"/>
</div>
<div class="hgw_content">
  <h3>慧办公超值包</h3>
  <ul class="hbg_list">
    <li class="bg1"><b>网络</b><br />免费畅享全光纤网络，百兆带宽任您遨游</li>
    <li class="bg3"><b>IT运维</b><br />提供、服务器、网络设备、存储设备、网络、电脑、打印机、复印机、软件、等IT办公专业维护，为您免去雇佣专业人员的费用</li>
    <li class="bg2"><b>移动办公</b><br />一台智能手机摆脱空间的束缚，简化审批流程提高办公效率，增加企业效益<</li>
    <li class="bg4"><b>商务平台</b><br />为企业的商务接待提供全方位管家式服务，显著提高接待质量，有效降低接待费用</li>
    <li class="bg5"><b>云打印</b><br />提供一条龙全包制打印服务，减少固定资本投入，减少运维人力成本</li>
    <div style="clear:both"></div>
  </ul>
  <div class="hbg_list2_con">
  <h3>慧办公增值包</h3>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_cloud1.jpg" /></dt>
    <dd>只需一台显示集成设备即可实现PC功能，杜绝电脑折旧有效降低企业购买及维护办公电脑的费用</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_cloud2.jpg" /></dt>
    <dd>以全光网络和数据中心为基础，提供云主机、云存储等综合云服务，减少固定资本投入，减少运维人力成本</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_cloud3.jpg" /></dt>
    <dd>T3+数据中心提供服务器托管服务，配备专业运维确保运行，减少固定资本投入，减少运维人力成本</dd>
    <div style="clear:both"></div>
  </dl>
    <div style="clear:both"></div>
    <dl class="hbg_list2">
      <dt><img src="/images/hbg_cloud4.jpg" /></dt>
      <dd>提供员工的上网行为管理服务，减少固定资本投入，减少运维人力成本</dd>
      <div style="clear:both"></div>
    </dl>
  <div style="clear:both"></div>
  </div>
</div>