<div class="hgw_banner">
  <img src="/images/hbg_banner.jpg" alt="慧办公" class="img"/>
</div>
<div class="hgw_content">
  <ul class="hbg_list">
    <li class="bg1"><b>网络</b><br />全光高速接入</li>
    <li class="bg2"><b>办公电话</b><br />通过APP瞬间为企业开通网络和办公电话服务</li>
    <li class="bg3"><b>IT维护服务</b><br />为企业提供及时IT维护服务</li>
    <li class="bg4"><b>门禁</b><br />为园区企业提供高质量门禁安装和监控服务</li>
    <div style="clear:both"></div>
  </ul>
  <div class="hbg_list2_con">
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_superFront.jpg"/></dt>
    <dd>超级前台：智能、安全的门卫</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_folder.jpg" /></dt>
    <dd>移动办公：随时随地解决工作问题</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_cloud.jpg" /></dt>
    <dd>云桌面：一台显示集成设备即可实现PC所有功能</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_commerical.jpg" /></dt>
    <dd>公共商务平台：便捷高效的商务套餐服务</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_print.jpg" /></dt>
    <dd>云打印：省去办公打印设备的绝佳选择</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_multiFun.jpg" /></dt>
    <dd>多功能会议室：容纳多路远程视频的高规格会议室</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_cloudService.jpg" /></dt>
    <dd>云服务：云计算和云存储按需即时配置开通</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  <dl class="hbg_list2">
    <dt><img src="/images/hbg_IDC.jpg" /></dt>
    <dd>IDC租赁：高性价比的IDC租赁服务</dd>
    <div style="clear:both"></div>
  </dl>
  <div style="clear:both"></div>
  </div>
</div>