<div class="hgw_banner">
  <img src="/images/bg_1.jpg" alt="慧购物" class="img"/>
</div>
<div class="hgw_content">
  <div class="hgw_top">
    <h3 class="hgw_t">1.商业中心大数据服务</h3>
    通过大数据分析和商业智能，向商业中心提供精准营销服务。调整商铺布局及客流，合理分配商业资源，实现商铺合理布局——满街都是黄金铺。从而大幅度提高商业中心客户体验和价值。
  </div>
  <div class="hgw_bottom">
    <h3 class="hgw_t">2.社区商铺一键开店</h3>
    社区商铺可以申请加入社区电商平台，慧购物将帮助其在短时间内开通网上店铺，并接入千万社区客户。帮助社区商铺业主一举跨过技术和用户推广两大障碍，迅速成为成熟电商的拥有者。商铺业主只需要专注于其核心货品或服务，其余相关的宣传、支付、物流配送等难题都可以在平台上得到完美解决。
  </div>
</div>