
<div class="hgw_banner">
  <img src="/images/hsq_banner.jpg" alt="智慧社区" class="img"/>
</div>
<div class="hgw_content">
    <div class="hsq_con">
      房地产行业已经由大规模建设房产的爆炸式发展期进入到了消化房产储备量的经营期。在这样的趋势下各个房地产巨头都在寻求转型，而智慧社区运营能够帮助地产商从过去的一次建设从而实现单次营销的单线旧模式中走出来，帮助他们转型成为一次建设单次销售实现百年盈利的生态圈式模式。
    </div>
  <div class="hsh_con">
    <h3>总体架构解决方案</h3>
    <div class="hsq_con">一个数据中心——云计算<br />
   二张网——全光网，物联网<br />
      三种业态——住宅，商业，商务，真正实现三网合一<br />
      四屏互动——PC,phone,pad,TV<br />
      五种业务——基础，IT运营，媒体，电商，金融</div>
    <p>（一个数据中心）与施耐德电气携手共同打造微模块数据中心，建设等级T3+，建设面积1030平米，采用当今世界上最先进的微模块技术，热池技术，模块化UPS及水平送风空调，采用DCIM进行管理，代表当今数据中心建设最高水平。<br />
      （二张网）与华为公司携手共同打造智慧社区全光网络，打造成为中国首个三网合一的智慧社区。<br />
      （三种业态）以业主的真实需求为依据，以马斯诺博士的需求金字塔为方法论，打造中国首个慧生活，慧办公，慧购物三种业态合一的智慧社区。<br />
      （四屏互动）通过全光网络与无线WiFi覆盖等技术手段，打通手机屏、PAD屏、电视屏，可视对讲屏，与业主实现真正意义的即时互动。<br />
      （五种业务）通过智慧运营实现可持续性的盈利。</p>
  </div>
</div>