
<div class="hgw_banner">
  <img src="/images/hsq_banner.jpg" alt="智慧社区" class="img"/>
</div>
<div class="hgw_content">
    <div class="hsq_con">
      房地产行业已经由大规模建设房产的爆炸式发展期进入到了消化房产储备量的经营期。在这样的趋势下各个房地产巨头都在寻求转型，而智慧社区运营能够帮助地产商从过去的一次建设从而实现单次营销的单线旧模式中走出来，帮助他们转型成为一次建设单次销售实现百年盈利的生态圈式模式。
    </div>
  <div class="text-center">
    <img src="/images/hsq_img1.png" style="width:100%;"/>
  </div>
  <div class="hsh_con">
    <h3>总体架构解决方案</h3>
    <h4 class="m-t">一个数据中心</h4>
    <p class="text2">
      与施耐德电气携手共同打造微模块数据中心，建设等级T3+，建设面积1030平米，采用当今世界上最先进的微模块技术，热池技术，模块化UPS及水平送风空调，采用DCIM进行管理，代表当今数据中心建设最高水平。
    </p>
    <h4 class="m-t">两张网</h4>
    <p class="text2">
      与华为公司携手共同打造智慧社区全光网络，打造成为中国首个三网合一的智慧社区。
    </p>
    <h4 class="m-t">三种业态</h4>
    <p class="text2">
      以业主的真实需求为依据，以马斯诺博士的需求金字塔为方法论，打造中国首个慧生活，慧办公，慧购物三种业态合一的智慧社区。
    </p>
    <div class="text-center">
      <img src="/images/hsq_img12.png" style="width:100%;"/>
    </div>
    <h4 class="m-t">四屏互动</h4>
    <p class="text2">
      通过全光网络与无线WiFi覆盖等技术手段，打通手机屏、PAD屏、电视屏，可视对讲屏，与业主实现真正意义的即时互动。
    </p>
    <div class="text-center">
      <img src="/images/hsq_3img1.png" style="width:100%;"/>
    </div>
    <h4 class="m-t">五种业态</h4>
    <p class="text2">
      通过智慧运营实现可持续性的盈利
    </p>
    <div class="hsq_box">
      <div class="text-center">
        <img src="/images/hsq_01.jpg" style="width:100%"/>
      </div>
      <p class="text">
        智慧物业运营；提高业主满意度，降低物业运营费用，共建和谐社区
      </p>
    </div>
    <div class="hsq_box">
      <div class="text-center">
        <img src="/images/hsq_2.jpg" style="width:100%"/>
      </div>
      <p class="text">
        大数据，云计算，IDC等数据运营增值服务
      </p>
    </div>
    <div class="hsq_box">
    <div class="text-center">
      <img src="/images/hsq_03.jpg" style="width:100%"/>
    </div>
    <p class="text">
      全光网络，四屏互动，打造社区媒体运营商
    </p>
    </div>
    <div class="hsq_box">
        <div class="text-center">
          <img src="/images/hsq_4.jpg" style="width:100%"/>
        </div>
        <p class="text">
          线上线下打通，实现C2C的反向团购，打造社区电商新模式，给业主带来真正的实惠与便利的同时实现可持续运营的盈利模式
        </p>
     </div>
    <div class="hsq_box">
        <div class="text-center">
          <img src="/images/hsq_5.jpg" style="width:100%"/>
        </div>
        <p class="text">
          金融一卡通，实现社区金融
        </p>
    </div>

  </div>
</div>