<h1>首页微信界面</h1>
<div class="single-item">
  <div style="width: 400px; background: red" ><h3>17898888888888dddddd8888</h3></div>
  <div style="width: 400px; background: blue"><h3>2</h3></div>
  <div style="width: 400px;background: brown"><h3>3</h3></div>
  <div style="width: 400px;background: sandybrown"><h3>4</h3></div>

</div>

<script>
    $('.single-item').slick({
        dots: true
    });
</script>