<h1>首页微信界面</h1>
<div class="single-item">
  <div ><img src="/images/bg_1.jpg" width="100%" height="150"></div>
  <div ><img src="/images/bg_2.jpg" width="100%" height="150"></div>
  <div ><img src="/images/bg_3.jpg" width="100%" height="150"></div>
  <div ><img src="/images/bg_4.jpg" width="100%" height="150"></div>

</div>

<script>
    $('.single-item').slick({
        dots: true,
        autoplay:true
    });
</script>