
<div class="single-item">
  <div ><img src="/images/banner_1.jpg" width="100%" height="auto"></div>
  <div ><img src="/images/banner_2.jpg" width="100%" height="auto"></div>
  <div ><img src="/images/banner_3.jpg" width="100%" height="auto"></div>
  <div ><img src="/images/banner_4.jpg" width="100%" height="auto"></div>

</div>
<div style="clear:both"></div>
<div class="hgw_content">
  <div class="menu_box_m">
    <div class="left">
      <a href="/weixins/huishequ" class="ma1"><p class="menu_box m1">智慧社区</p></a>
      <a href="/weixins/huishenghuo" class="ma2"><p class="menu_box m2">慧生活</p></a>
      <a href="/weixins/huibangong" class="ma3"><p class="menu_box m3">慧办公</p></a>
      <a href="/weixins/huigouwu" class="ma4"><p class="menu_box m4">慧购物</p></a>
    </div>
    <div class="right">
      <a href="/weixins/about_us" class="ma5"><p class="menu_box2 m5">关于我们</p></a>
      <a href="/weixins/join_us" class="ma6"><p class="menu_box2 m6">招贤纳士</p></a>
      <!--<p class="menu_box2 m7"><a href="/weixins/app">APP下载</a></p>-->
    </div>
  </div>

<div style="clear:both"></div>



</div>
<script>
    $('.single-item').slick({
        dots: true,
        autoplay:true
    });
</script>