<h1>广福城一卡通卡片（广福卡）使用说明</h1>

<h3>一、	卡片说明</h3>
广福卡选用金融IC卡（CPU卡），称为智能卡。卡内具有微处理器CPU、存储单元：随机存储器RAM、程序存储器ROM、用户数据存储器EEPROM以及芯片操作系统COS。装有COS的CPU卡相当于一台微型计算机，不仅具有数据存储功能，同时具有命令处理和数据安全保护等功能，可确保卡内个人信息安全。

<h3>二、	使用范围</h3>

1、	社区单元门禁
2、	公共区域门禁
3、	地下停车场
4、	商圈POS机

<h3>三、	注意事项</h3>

1、	请拿到卡片后确认个人信息，如发现不符请立即持卡到云南彩立方数据科技有限公司一卡通营业厅（昆明市日新东路广福城A11-1栋1层）修正。
2、	一卡通卡片仅限持卡者本人使用，不得转借他人。由于持卡人未修改密码或转借造成的后果与损失由持卡人本人承担。
3、	一卡通卡片严禁弯折、磨损、重压、刻画、粘贴异物、曝晒、置于强磁场、高温、腐蚀或其他恶劣环境中，否则会影响卡片正常使用。

<h3>四、	服务信息</h3>

1、	充值
持卡至彩立方数据科技有限公司一卡通营业厅（昆明市日新东路广福城A11-1栋1层）现金充值。
注：其他充值途径后续发布。
2、	挂失
卡片如不慎丢失，请持卡人尽快携带本人身份证到营业厅办理挂失手续。
注：其他挂失途径后续发布。
3、	解挂
如果卡片在挂失后重新找到，应凭本人身份证，到一卡通营业厅柜台解除挂失。
注：其他解挂方式后续发布。
4、	补卡
一卡通卡片丢失、挂失或损坏后，持卡人可凭本人身份证在一卡通营业厅补办，每张卡片收取补卡工本费30元。
5、	其他
如需其他技术支持服务，请致电云南彩立方数据科技有限公司一卡通服务中心：0871-64589208。
