<!-- heeader -->
<div id="header">
  <div class="w_wrap2 Center h_min">
    <div class="logo">
      <a href="javascript:void(0);" onclick="reload()"><img src="/images/logo.png"></a>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a href="javascript:void(0);" onclick="reload()" class="a1 ahome tabactive">首页</a>
        </li>
        <li>
          <a href="/home/huishequ" class="a1 asq">彩立方</a>
        </li>
        <li>
          <a href="/home/huibangong" class="a1 abg">慧办公</a>
        </li>
        <li>
          <a href="/home/huishenghuo" class="a1 ash">慧生活</a>
        </li>
        <li>
          <a href="/home/huigouwu" class="a1 agw">慧购物</a>
        </li>
        <li>
          <a  href="javascript:void(0);" onclick="reload_about_us()" class="a1 aus">关于我们</a>
        </li>
        <li>
          <div class="vline"></div>
        </li>
        <li>
          <a href="/home/join_us" class="a1 ans">招贤纳士</a>
        </li>
        <li>
          <a href="/home/app" class="a1 aapp">APP下载</a>
        </li>

      </ul>
    </div>
  </div>
</div>

<script>
    function reload(){
        window.location.href="/"
    }
        function reload_about_us(){
            window.location.href="/home/about_us"
        }
</script>